nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: fixed;
    width: 100%;
    /* background-color: rgb(226, 226, 221); */
    background-color: rgb(255 255 255);
    box-shadow: 15px 0px 15px 4px rgb(188, 187, 187);
    padding: 11px 0px;
    z-index: 5;
}

nav>* {
    width: 30%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0px 20px;
}

nav ul:last-child {
    justify-content: flex-end;
}

nav .logo {
    font-size: 34px;
    letter-spacing: 4px;
    text-align: center;
}

#useless {
    height: 60px;
}

nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}